# Задание 1

In [20]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [21]:
boston = load_boston()

In [4]:
data = boston["data"]
target = boston["target"]
feature_names = boston["feature_names"]

In [5]:
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [6]:
X = pd.DataFrame(data, columns=feature_names)
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [7]:
Y = pd.DataFrame(target, columns=["price"])
Y

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(X_train, Y_train)

LinearRegression()

In [13]:
Y_pred = lr.predict(X_test)

In [14]:
Y_train

     price
5     28.7
116   21.2
45    19.3
16    23.1
468   19.1
..     ...
106   19.5
270   21.1
348   24.5
435   13.4
102   18.6

[354 rows x 1 columns]

In [15]:
check_test = pd.DataFrame({
    "Y_test": Y_test["price"],
    "Y_pred": Y_pred.flatten(),
})

check_test

     Y_test     Y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]

In [16]:
check_test["error"] = check_test["Y_pred"] - check_test["Y_test"]
check_test

     Y_test     Y_pred      error
173    23.6  28.648960   5.048960
274    32.4  36.495014   4.095014
491    13.6  15.411193   1.811193
72     22.8  25.403213   2.603213
452    16.1  18.855280   2.755280
..      ...        ...        ...
441    17.1  17.403672   0.303672
23     14.5  13.385941  -1.114059
225    50.0  39.983425 -10.016575
433    14.3  16.682863   2.382863
447    12.6  18.285618   5.685618

[152 rows x 3 columns]

In [17]:
from sklearn.metrics import r2_score
r2_score_1=r2_score(check_test["Y_pred"], check_test["Y_test"])
r2_score_1

0.669370269149561

# Задание 2

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [24]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [25]:
clf.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [26]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
mean_squared_error_clf = mean_squared_error(check_test_clf["Y_pred_clf"], check_test_clf["Y_test"])
print(mean_squared_error_clf)

9.334548946165196

In [32]:
mean_squared_error_lr = mean_squared_error(check_test["Y_pred"], check_test["Y_test"])
print(mean_squared_error_lr)

21.517444231176995

Модель "Случайный лес" показывает более точные результаты, чем модель "Линейная регрессия".